.mates-games {
  margin-top: 40px;
  text-align: center;
}

.mates-games__game {
  font-size: 26px;
}

.mates-games__reset {
  margin: 30px 0;
}

.mates-games__title {
  font-size: 20px;
}

.mates-games__title_lined {
  text-decoration: underline;
}

.mates-games__title_no-result {
  color: var(--action-secondary-color);
}
