.mates {
  margin-top: 40px;
  text-align: center;
}

.mates__mate {
  margin: 6px 0;
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mates__mate-name {
  font-size: 24px;
  max-width: 260px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mates__mate-remove {
  font-size: 28px;
  margin-left: 20px;
  cursor: pointer;
  color: var(--action-secondary-color);
}

.mates__search {
  margin-top: 20px;
}
